<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Profilim</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <h1>Profil Bilgilerim</h1>
<a href="{{ url_for('dashboard') }}" class="btn-secondary">← Ana Panele Dön</a>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flash-message">
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <form action="{{ url_for('profil') }}" method="post" enctype="multipart/form-data">
        <label>Kullanıcı Adı:</label>
        <input type="text" name="kullanici_adi" value="{{ kullanici.kullanici_adi }}" required><br>

        <label>Yeni Şifre (değiştirmek istiyorsan):</label>
        <input type="password" name="sifre"><br>

        <label>Profil Resmi:</label><br>
        {% if kullanici.profil_resmi %}
            <img src="{{ url_for('static', filename='uploads/' + kullanici.profil_resmi) }}" width="100"><br>
        {% endif %}
        <input type="file" name="profil_resmi"><br><br>

        <button type="submit" class="btn-primary">Güncelle</button>
    </form>

    
</div>
</body>
</html>
